* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
p,
span {
  /* 폰트 넣기 */
}
.background {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #fafafa;
}
.footer {
  width: 100%;
  height: 1000px;
  margin-top: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.postWrap {
  width: 1100px;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.postHead {
  width: 100%;
  height: 10%;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: start;
}
.postSearch {
  width: 310px;
  height: 40px;
  font-size: 16px;
  font-weight: 500;
  margin-right: 20px;
  border-radius: 10px;
  border: 1px solid #da4141;
  background-image: url("../../asset/img/search_icon.png");
  background-repeat: no-repeat;
  background-position: 10px center;
  padding-left: 40px;
  outline: none;
}
.postWriteBtn {
  width: 90px;
  height: 40px;
  border: none;
  border-radius: 10px;
  text-decoration: none;
  background-color: #da4141;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.postWrite {
  color: #fff;
  font-size: 19px;
  font-weight: bold;
}
.postBody {
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  border-top: 2px solid #000;
}
.postNav {
  width: 100%;
  height: 10%;
  display: flex;
  flex-direction: row;
  background-color: #eee;
  border-bottom: 1px solid #aaa;
}
.postNumBox {
  width: 5%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.postNum {
  font-size: 17px;
  font-weight: bold;
}
.postTitleBox {
  width: 52%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.postTitle {
  font-size: 17px;
  font-weight: bold;
}
.postWriterBox {
  width: 15%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.postWriter {
  font-size: 17px;
  font-weight: bold;
}
.postDateBox {
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.postDate {
  font-size: 17px;
  font-weight: bold;
}
.postViewCountBox {
  width: 8%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.postViewCount {
  font-size: 17px;
  font-weight: bold;
}
